/*------------ menubuttons ---------*/
.menuContainer{
    /* padding-top:15%; */
    margin:0;
    padding: 0;
    display: flex;
    height: 80px;
    width: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuContainer:hover .menuline1, .menuContainer:active .menuline1{
    position:absolute;
    height: 80px;
    width: 80px;
    border-radius: 0%;
    bottom: 80px;
    right: 0px;
    margin: 0;
    background-color: red;
    transition-duration: 1s;
}
.menuContainer:hover .menuline2, .menuContainer:active .menuline2{
    position:absolute;
    height: 80px;
    width: 80px;
    bottom:80px;
    right: 80px;
    border-radius: 0%;
    margin: 0;
   background-color: brown;
   transition-duration: 1s;
}
.menuContainer:hover .menuline3, .menuContainer:active .menuline3{
    position:absolute;
    height: 80px;
    width: 80px;
    bottom: 0vh;
    right: 80px;
    border-radius: 0%;
    margin: 0;
    background-color: violet;
    transition-duration: 1s;
}

.menuline1{
    position: fixed;
    border-radius: 8%;
    bottom: 5.4vh;
    margin: 3px;
    height: 8px;
    width: 13vw;
    right: 5vw;
    background-color: aliceblue;
    transition-duration: 1s;
}

.menuline2{
    position: fixed;
    border-radius: 8%;
    bottom:3.6vh;
    margin: 3px;
    height: 8px;
    width: 13vw;
    right: 5vw;
    background-color: aliceblue;
    transition-duration: 1s;
}

.menuline3{
    position: fixed;
    border-radius: 8%;
    bottom:1.8vh;
    margin: 3px;
    height: 8px;
    width: 13vw;
    right: 5vw;
    background-color: aliceblue;
    transition-duration: 1s;
}

.menuButton1{
    position: fixed;
    display: flex;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 15vw;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition-duration: 1s;
}




/* .menuButton1:checked{
    bottom: 10vh;
} */